@model IEnumerable<Primeira_Aplicacao_Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Clientes</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Clientes</th>
            <th>Tipo de Conta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.name, "Details", "Customers", new { id = customer.id }, null)</td>
                <td>@customer.membershipType.Name</td>
            </tr>
        }
    </tbody>
</table>
 




